<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cantv.media"
          android:versionCode="143"
          android:versionName="20161115s_v1.4.3">
          <!--android:sharedUserId="android.uid.system"-->


    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name="com.cantv.media.center.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/str_filemanager"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name="com.cantv.media.center.activity.HomeActivity"
            android:label="@string/str_filemanager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cantv.media.center.activity.ListViewActivity"/>
        <activity
            android:name="com.cantv.media.center.activity.GridViewActivity">
            <intent-filter>
                <action android:name="com.cantv.action.LOCAL_PLAYER"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="file/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cantv.media.center.activity.VideoPlayActicity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cantv.action.LOCAL_PLAYER"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cantv.media.center.activity.AudioPlayerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cantv.action.LOCAL_PLAYER"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cantv.media.center.activity.ImagePlayerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.cantv.action.LOCAL_PLAYER"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cantv.media.center.activity.DeviceShareActivity"
            android:label="@string/app_name"></activity>

        <receiver android:name="com.cantv.media.center.receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.cantv.service.BOOTCOMPLETEDRECEIVER"/>

            </intent-filter>
        </receiver>

        <service android:name="com.cantv.media.center.service.BootDialogService">
            <intent-filter>
                <action android:name="com.cantv.service.RECEIVER_START"/>
            </intent-filter>
        </service>

        <activity android:name="com.cantv.media.center.activity.ActivityDialog">
            <intent-filter>
                <action android:name="com.cantv.activity.SHOW_DIALOG"/>
            </intent-filter>
        </activity>
    </application>

</manifest>